/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.otf");
  // src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  // 		url('../fonts/CircularStd-Book.woff2') format('woff2'),
  // 		url('../fonts/CircularStd-Book.woff') format('woff'),
  // 		url('../fonts/CircularStd-Book.ttf') format('truetype'),
  // 		url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.otf");
  // src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  // 		url('../fonts/CircularStd-Medium.woff2') format('woff2'),
  // 		url('../fonts/CircularStd-Medium.woff') format('woff'),
  // 		url('../fonts/CircularStd-Medium.ttf') format('truetype'),
  // 		url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.otf");
  // src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  // 		url('../fonts/CircularStd-Bold.woff2') format('woff2'),
  // 		url('../fonts/CircularStd-Bold.woff') format('woff'),
  // 		url('../fonts/CircularStd-Bold.ttf') format('truetype'),
  // 		url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
