@charset "utf-8";
$experimental-support-for-svg: true;

$font_main: "Circular Std", serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$primary: #ff6d03;
$body-color: #1a202c;
$c-blue: #2971f0;
$c-green: #48bb78;
$c-yellow: #ffb700;
