.swiper-slide{overflow:initial;}
.seosight-elem-info-boxes-wrap.row{margin-left:0;margin-right:0;}
.seosight-elem-info-boxes-wrap .heading{max-width:90%;margin-top:60px;}
.seosight-elem-info-boxes-wrap .crumina-info-box .info-box-text{width:100%;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box{padding:40px;display:flex;align-items:flex-start;justify-content:flex-start;flex-direction:column;flex-wrap:wrap;}
.seosight-elem-info-boxes-wrap.layout-academy .heading-title{width:90%;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .info-box-image{border-radius:10px;width:70px;height:70px;background-color:#EFF6FC;margin-bottom:25px;justify-content:center;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .info-box-image i,
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .info-box-image img{height:35px;font-size:35px;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .read-more{margin-top:auto;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .info-box-title{margin-bottom:45px;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .info-box-text{margin-bottom:0;}
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box .read-more i{font-size:20px;}
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(2) .info-box-title,
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(4) .info-box-title,
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(2) .read-more,
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(4) .read-more{color:#fff;}
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(2) .crumina-info-box{background-color:var(--primary-accent-color);border-radius:20px 0 0 0;}
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(4) .crumina-info-box{background-color:var(--secondary-accent-color);border-radius:20px 0 0 20px;}
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(6) .crumina-info-box{background-color:#f8b03c;border-radius:0 0 20px 0;}
@media (max-width: 1200px) {
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box,
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(2) .crumina-info-box,
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(4) .crumina-info-box,
.seosight-elem-info-boxes-wrap.layout-academy .info-box-column:nth-child(6) .crumina-info-box{border-radius:0;}
}
@media (max-width: 800px) {
.seosight-elem-info-boxes-wrap.layout-academy .crumina-info-box{padding:20px;}
} .seosight-elem-info-boxes-wrap.layout-circles{display:flex;align-items:flex-start;justify-content:center;flex-wrap:wrap;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box{padding:35px;margin:0 auto 5px;background:#fff;width:370px;height:370px;border-radius:50%;text-align:center;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;flex-direction:column;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-image-cont{width:100%;margin-bottom:20px;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-image{margin:0 auto;border-radius:0;justify-content:center;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-image i,
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-image img{height:35px;font-size:35px;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-text{margin-bottom:0;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .read-more{margin:25px 0 0 0;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .read-more i{font-size:20px;}
@media (max-width: 1200px) {
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box{padding:20px;width:315px;height:315px;}
}
@media (max-width: 980px) {
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box{width:250px;height:250px;margin:5px;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-text{font-size:14px;}
.seosight-elem-info-boxes-wrap.layout-circles .crumina-info-box .info-box-title{margin:0;}
} .seosight-elem-info-boxes-wrap.layout-company .crumina-info-box{padding:20px 25px;margin:0 15px 35px 15px;border-radius:20px;background:#fff;text-align:center;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;flex-direction:column;-webkit-box-shadow:3px 3px 8px 4px rgba(34, 60, 80, 0.03);-moz-box-shadow:3px 3px 8px 4px rgba(34, 60, 80, 0.03);box-shadow:3px 3px 8px 4px rgba(34, 60, 80, 0.03);}
.seosight-elem-info-boxes-wrap.layout-company .crumina-info-box .info-box-text{margin-bottom:20px;}
.seosight-elem-info-boxes-wrap.layout-company .crumina-info-box .info-box-image-cont{margin-bottom:20px;width:100%;}
.seosight-elem-info-boxes-wrap.layout-company .crumina-info-box .info-box-image{margin:0;border-radius:0;justify-content:center;}
.seosight-elem-info-boxes-wrap.layout-company .crumina-info-box .info-box-image i,
.seosight-elem-info-boxes-wrap.layout-company .crumina-info-box .info-box-image img{height:70px;font-size:70px;}
.seosight-elem-info-boxes-wrap.layout-company .crumina-info-box .btn{margin:0 auto -45px;display:block;}
.seosight-elem-info-boxes-wrap.layout-company .info-box-column:nth-child(even) .crumina-info-box{margin-top:25px;}
@media (max-width: 1200px) {
.seosight-elem-info-boxes-wrap.layout-company .info-box-column:nth-child(even) .crumina-info-box{margin-top:0;}
} .seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box{padding:20px 35px;margin:0 10px 85px 10px;border-radius:20px;background:#fff;text-align:center;display:flex;align-items:center;justify-content:center;flex-wrap:wrap;flex-direction:column;-webkit-box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);-moz-box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);}
.seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box .info-box-image-cont{margin-bottom:20px;margin-top:-85px;width:100%;}
.seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box .info-box-image{margin:0 auto;border-radius:0;background:url(//giaotieptienganh.com.vn/wp-content/plugins/elementor-seosight/assets/images/seo-copy-f1.png) no-repeat center;background-size:contain;width:130px;height:130px;justify-content:center;}
.seosight-elem-info-boxes-wrap.layout-copywriter .info-box-column:nth-child(2) .crumina-info-box .info-box-image{background:url(//giaotieptienganh.com.vn/wp-content/plugins/elementor-seosight/assets/images/seo-copy-f2.png) no-repeat center;background-size:contain;}
.seosight-elem-info-boxes-wrap.layout-copywriter .info-box-column:nth-child(3) .crumina-info-box .info-box-image{background:url(//giaotieptienganh.com.vn/wp-content/plugins/elementor-seosight/assets/images/seo-copy-f3.png) no-repeat center;background-size:contain;}
.seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box .info-box-image i,
.seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box .info-box-image img{height:60px;font-size:60px;}
.seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box .read-more{margin:0;}
.seosight-elem-info-boxes-wrap.layout-copywriter .crumina-info-box .read-more i{font-size:20px;}
.features-slider-module .crumina-info-box{padding:30px 40px;background:#282626;border-radius:10px;display:flex;align-items:flex-start;justify-content:flex-start;flex-wrap:wrap;flex-direction:column;opacity:.3;}
.features-slider-module .crumina-info-box .info-box-image-cont{margin-bottom:25px;width:100%;}
.features-slider-module .crumina-info-box .info-box-image{justify-content:flex-start;border-radius:0;}
.features-slider-module .crumina-info-box .info-box-image i,
.features-slider-module .crumina-info-box .info-box-image img{height:60px;font-size:60px;}
.features-slider-module .crumina-info-box .read-more{margin-top:auto;}
.features-slider-module .crumina-info-box .read-more i{font-size:20px;}
.features-slider-module .swiper-slide{height:auto;}
.features-slider-module .swiper-container-horizontal.pagination-bottom .swiper-pagination{-webkit-transform:translate(0);transform:translate(0);}
.features-slider-module .swiper-pagination .swiper-pagination-bullet,
.features-slider-module .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width:20px;height:4px;border-radius:2px;border:none;background:rgba(255, 255, 255, .7);}
.features-slider-module .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--primary-accent-color);}
.features-slider-module .crumina-info-box.swiper-slide-prev,
.features-slider-module .crumina-info-box.swiper-slide-active,
.features-slider-module .crumina-info-box.swiper-slide-next{opacity:1;}
.heading-decoration.top{margin-bottom:25px;}
.crumina-teammembers-item.layout-circles{display:flex;align-items:flex-start;justify-content:flex-start;text-align:left;padding:35px 40px;border-radius:10px;-webkit-box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);-moz-box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);}
.crumina-teammembers-item.layout-circles .module-image{overflow:hidden;border-radius:50%;margin-bottom:0;margin-top:-60px;}
.crumina-teammembers-item.layout-circles .teammembers-item-cont{margin-left:25px;flex-basis:50%;}
.crumina-teammembers-item.layout-circles .teammembers-item-name{margin-top:0;}
.crumina-teammembers-item .socials .social__item.grey img{filter:grayscale(100%);}
.crumina-teammembers-item .socials .social__item.grey:hover img{filter:grayscale(0);}
@media (max-width: 1200px) {
.crumina-teammembers-item.layout-circles .teammembers-item-cont{flex-basis:60%;}
}
@media (max-width: 991px) {
.crumina-teammembers-item.layout-circles{flex-direction:column;}
.crumina-teammembers-item.layout-circles .module-image{margin-bottom:20px;}
}
@media (max-width: 580px) {
.crumina-teammembers-item.layout-circles{padding:25px 20px;}
} .crumina-teammembers-item.layout-company{display:flex;align-items:flex-start;justify-content:flex-start;text-align:left;padding:30px 50px;border-radius:10px;-webkit-box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);-moz-box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);box-shadow:0px 0px 40px 4px rgba(34, 60, 80, 0.03);}
.crumina-teammembers-item.layout-company .teammembers-item-cont{padding-left:35px;flex-basis:55%;}
.crumina-teammembers-item.layout-company .module-image-cont{text-align:center;flex-basis:45%;padding-right:35px;margin-bottom:0;border-right:1px solid #d7dfe8;}
.crumina-teammembers-item.layout-company .teammembers-item-prof{margin-bottom:0;}
.crumina-teammembers-item.layout-company .module-image{margin-left:auto;margin-right:auto;}
@media (max-width: 991px) {
.crumina-teammembers-item.layout-company{flex-direction:column;text-align:center;}
.crumina-teammembers-item.layout-company .module-image-cont{padding-right:0;border-right:none;width:100%;margin-bottom:20px;}
.crumina-teammembers-item.layout-company .teammembers-item-cont{text-align:center;padding-left:0;width:100%;}
} .crumina-teammembers-item.layout-seo .module-image{margin-bottom:15px;}
.crumina-teammembers-item.layout-seo .teammembers-item-cont{text-align:left;}
.crumina-teammembers-item.layout-seo .teammembers-item-prof{margin-bottom:20px;}
.crumina-teammembers-item.layout-seo .socials{opacity:0;transition:all ease .25s;}
.crumina-teammembers-item.layout-seo:hover .socials{opacity:1;}
@media (max-width: 767px) {
.crumina-teammembers-item.layout-seo .teammembers-item-cont{text-align:center;}
} .seosight-module-team-slider{display:flex;align-items:flex-start;justify-content:flex-start;flex-wrap:wrap;}
.seosight-module-team-slider .seosight-module-team-slider-title{flex-basis:32%;}
.seosight-module-team-slider .swiper-container{flex-basis:66%;}
.seosight-module-team-slider .slider-slides{position:relative;top:auto;left:auto;right:auto;bottom:auto;margin-top:25px;display:flex;flex-wrap:wrap;}
.seosight-module-team-slider .slider-slides .slides-item{width:auto;padding:0;margin:0 24px 24px 0;width:70px;height:70px;opacity:0.4;}
.seosight-module-team-slider .slider-slides .slides-item img{border-radius:50%;}
.seosight-module-team-slider .slider-slides .slides-item.swiper-slide-active{opacity:1;}
.seosight-module-team-slider .swiper-slide-cont{display:flex;align-items:center;justify-self:flex-start;flex-wrap:wrap;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-img{position:relative;flex-basis:60%;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-img img{border-radius:50%;margin:0 auto;display:block;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-text{flex-basis:40%;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-text .teammembers-item-prof{margin-bottom:10px;}
@media (max-width: 1200px) {
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-img{flex-basis:45%;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-text{flex-basis:50%;padding-left:40px;}
}
@media (max-width: 991px) {
.seosight-module-team-slider .swiper-slide-cont{flex-direction:column;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-img{flex-basis:100%;margin-bottom:15px;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-text{flex-basis:100%;padding-left:0;}
.seosight-module-team-slider .seosight-module-team-slider-title{flex-basis:40%;}
.seosight-module-team-slider .swiper-container{flex-basis:55%;}
}
@media (max-width: 767px) {
.seosight-module-team-slider{display:block;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-text{text-align:center;}
.seosight-module-team-slider .seosight-module-team-slider-title{text-align:center;width:100%;}
.seosight-module-team-slider .slider-slides{width:100%;align-items:center;justify-content:center;margin-bottom:25px;}
.seosight-module-team-slider .slider-slides .slides-item{margin:0 15px 15px;}
.seosight-module-team-slider .swiper-slide-cont .swiper-slide-cont-img{width:290px;}
} .seosight-module-team-slider.layout-carousel{display:block;}
.seosight-module-team-slider.layout-carousel .swiper-slide-cont-text{padding:0 20px;}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-title{margin-bottom:40px;}
.seosight-module-team-slider.layout-carousel .swiper-slide-cont .swiper-slide-cont-img{margin-bottom:25px;width:100%;}
.seosight-module-team-slider.layout-carousel .swiper-slide-cont .swiper-slide-cont-img img{border-radius:10px;display:block;margin:0 auto;}
.seosight-module-team-slider.layout-carousel .swiper-slide-cont{display:block;}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows{margin-top:40px;padding:0 5px;display:flex;align-items:center;justify-content:flex-start;}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-next,
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-prev{position:relative;width:40px;height:40px;display:flex;align-items:center;justify-content:center;top:auto;right:auto;left:auto;margin-right:6px;border-radius:50%;background:#f0f6fd;}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-prev:hover{margin-left:0;}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-next svg,
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-prev svg{width:10px;}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-next:hover,
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-prev:hover{background:var(--primary-accent-color);}
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-next:hover svg,
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows .btn-prev:hover svg{fill:#fff;}
@media (max-width: 991px) {
.seosight-module-team-slider.layout-carousel .swiper-slide-cont-text{padding:0 5px;}
}
@media (max-width: 767px) {
.seosight-module-team-slider.layout-carousel .seosight-module-team-slider-arrows{justify-content:center;}
} .seosight-social-links-wrapper i,
.seosight-social-links-wrapper img{margin-right:10px;font-size:20px;width:20px;}
.crumina-pie-chart-item.pie-chart--centered .pie-chart{float:none;margin:0 auto;width:auto;height:auto;border:none;margin-bottom:15px;}
.crumina-pie-chart-item.pie-chart--centered .pie-chart:after{display:none;}
.crumina-pie-chart-item.pie-chart--centered .pie-chart-content{text-align:center;}
.crumina-module-progress-bar .skills-item-info{margin:0;}
.crumina-module-progress-bar .skills-item-info .units,
.crumina-module-progress-bar .skills-item-info .count-animate{font-size:36px;}
.crumina-module-progress-bar .skills-item-meter{height:6px;padding:0;margin-top:15px;}
.crumina-module-progress-bar .skills-item-meter-active{position:absolute;bottom:0;}
.crumina-module-progress-bar .skills-item-meter-active:after{display:none;}
.crumina-module-progress-bar .skills-item-title{font-size:18px;text-transform:uppercase;margin-top:12px;display:inline-block;}
.crumina-testimonial-item.testimonial-item-agency{padding:40px;border-radius:10px;box-shadow:3px 3px 40px 0px rgb(0 0 0 / 3%);}
.crumina-testimonial-item.testimonial-item-agency .author-info-wrap{display:flex;align-items:center;justify-content:flex-start;margin-bottom:25px;}
.crumina-testimonial-item.testimonial-item-agency .author-info-wrap .testimonial-img-author{margin-right:30px;}
.crumina-testimonial-item.testimonial-item-agency .author-info-wrap .testimonial-img-author img{border-radius:10px;}
.crumina-testimonial-item.testimonial-item-agency .testimonial-content{padding-bottom:25px;border-bottom:1px solid #d7dfe8;}
.crumina-testimonial-item.testimonial-item-agency .rait-stars{margin-top:25px;}
.swiper-container.testimonial-slider-consultant{padding-top:70px;}
.crumina-testimonial-item.testimonial-item-consultant{padding:40px 40px 35px;border-radius:10px;background:#fff;box-shadow:3px 3px 40px 0px rgb(0 0 0 / 3%);}
.crumina-testimonial-item.testimonial-item-consultant .testimonial-img-author{margin-top:-80px;margin-bottom:25px;}
.crumina-testimonial-item.testimonial-item-consultant .testimonial-img-author img{border-radius:50%;}
.crumina-testimonial-item.testimonial-item-consultant .testimonial-text{font-size:18px;padding-bottom:25px;border-bottom:1px solid #d7dfe8;}
.crumina-testimonial-item.testimonial-item-consultant .author-info-wrap .rait-stars{margin-top:15px;}
.swiper-container.testimonial-slider-consultant .seosight-module-team-slider-arrows,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows,
.swiper-container.testimonial-slider-copywriter .seosight-module-team-slider-arrows,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows{margin-top:60px;padding:0 5px;display:flex;align-items:center;justify-content:center;}
.swiper-container.testimonial-slider-consultant .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-consultant .seosight-module-team-slider-arrows .btn-prev,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-prev,
.swiper-container.testimonial-slider-copywriter .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-copywriter .seosight-module-team-slider-arrows .btn-prev,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-prev,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-prev{position:relative;width:40px;height:40px;display:flex;align-items:center;justify-content:center;top:auto;right:auto;left:auto;margin-right:6px;border-radius:50%;background:#f0f6fd;}
.swiper-container.testimonial-slider-consultant .seosight-module-team-slider-arrows .btn-prev:hover,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-prev:hover,
.swiper-container.testimonial-slider-copywriter .seosight-module-team-slider-arrows .btn-prev:hover,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-prev:hover,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-prev:hover{margin-left:0;}
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-prev{background:#fff;}
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-prev,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-next,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-prev{background:transparent;}
.swiper-container.testimonial-slider-consultant .seosight-module-team-slider-arrows .btn-next svg,
.swiper-container.testimonial-slider-consultant .seosight-module-team-slider-arrows .btn-prev svg,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-next svg,
.swiper-container.testimonial-slider-academy .seosight-module-team-slider-arrows .btn-prev svg,
.swiper-container.testimonial-slider-copywriter .seosight-module-team-slider-arrows .btn-next svg,
.swiper-container.testimonial-slider-copywriter .seosight-module-team-slider-arrows .btn-prev svg,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-next svg,
.swiper-container.testimonial-slider-company .seosight-module-team-slider-arrows .btn-prev svg,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-next svg,
.swiper-container.testimonial-slider-agency .seosight-module-team-slider-arrows .btn-prev svg{width:10px;}
.crumina-testimonial-item.testimonial-item-academy{padding:25px 40px;border-radius:10px;background:#fff;box-shadow:3px 3px 40px 0px rgb(0 0 0 / 3%);}
.swiper-container.testimonial-slider-academy{padding-top:60px;}
.swiper-container.testimonial-slider-academy .swiper-slide{opacity:.5;}
.swiper-container.testimonial-slider-academy .swiper-slide.swiper-slide-active{opacity:1;}
.crumina-testimonial-item.testimonial-item-academy .quote{margin-top:-60px;margin-bottom:15px;}
.crumina-testimonial-item.testimonial-item-academy .quote svg{width:80px;}
.crumina-testimonial-item.testimonial-item-academy .testimonial-content{padding-bottom:25px;border-bottom:1px solid #d7dfe8;}
.crumina-testimonial-item.testimonial-item-academy .author-info-wrap{display:flex;align-items:center;justify-content:space-between;}
.crumina-testimonial-item.testimonial-item-academy .author-info-wrap .testimonial-img-author{margin-right:20px;}
.crumina-testimonial-item.testimonial-item-academy .author-info-wrap .testimonial-img-author img{border-radius:50%;}
.crumina-testimonial-item.testimonial-item-academy .author-info-wrap .author-img-wrap{display:flex;align-items:center;justify-content:flex-start;}
.crumina-testimonial-item.testimonial-item-copywriter{position:relative;display:flex;align-items:center;justify-content:flex-start;padding:35px 40px 35px 0;}
.crumina-testimonial-item.testimonial-item-copywriter:after{content:'';position:absolute;top:0;right:0;left:50px;bottom:0;border-radius:10px;background:#fff;box-shadow:0px 0px 40px 4px rgb(34 60 80 / 6%);z-index:1;}
.crumina-testimonial-item.testimonial-item-copywriter .author-img-wrap{position:relative;flex-basis:33%;z-index:2;}
.crumina-testimonial-item.testimonial-item-copywriter .author-img-wrap img{margin-right:10px;}
.crumina-testimonial-item.testimonial-item-copywriter .author-info-wrap{position:relative;flex-basis:67%;z-index:2;}
.crumina-testimonial-item.testimonial-item-copywriter .author-info-wrap .rait-stars{margin-bottom:20px;}
.crumina-testimonial-item.testimonial-item-copywriter .author-info-wrap .testimonial-text{font-size:18px;}
.crumina-testimonial-item.testimonial-item-copywriter .author-info-wrap .author-info{margin-top:15px;}
.crumina-testimonial-item.testimonial-item-copywriter .author-info-wrap .author-info .author-name{font-weight:normal;}
.swiper-container-horizontal.pagination-bottom.testimonial-slider-copywriter .swiper-pagination{transform:none;}
.swiper-container-horizontal.pagination-bottom.testimonial-slider-copywriter .swiper-pagination{-webkit-transform:translate(0);transform:translate(0);}
.swiper-container-horizontal.pagination-bottom.testimonial-slider-copywriter .swiper-pagination .swiper-pagination-bullet,
.swiper-container-horizontal.pagination-bottom.testimonial-slider-copywriter .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width:20px;height:4px;border-radius:2px;border:none;background:#eae9e9;opacity:1;}
.swiper-container-horizontal.pagination-bottom.testimonial-slider-copywriter .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--primary-accent-color);}
.swiper-container.testimonial-slider-company{padding-top:65px;}
.crumina-testimonial-item.testimonial-item-company{padding:30px 40px;border-radius:10px;background:#fff;box-shadow:0px 0px 40px 4px rgb(34 60 80 / 3%);}
.crumina-testimonial-item.testimonial-item-company .author-img-wrap{margin:-65px 0 20px;}
.crumina-testimonial-item.testimonial-item-company .author-img-wrap img{border-radius:50%;display:block;margin:0 auto;}
.crumina-testimonial-item.testimonial-item-company .author-info-wrap{text-align:center;padding-bottom:25px;border-bottom:1px solid #d7dfe8;}
.crumina-testimonial-item.testimonial-item-company .author-info-wrap .author-info{margin-bottom:25px;}
.crumina-testimonial-item.testimonial-item-company .author-info-wrap .testimonial-text{font-size:18px;}
.crumina-testimonial-item.testimonial-item-company .rait-stars{margin-top:25px;text-align:center;}
.crumina-testimonial-item.testimonial-item-agency .author-info-wrap{text-align:left;}
.crumina-testimonial-item.testimonial-item-agency .rait-stars{text-align:left;}
.crumina-testimonial-item.testimonial-item-agency .testimonial-content .testimonial-text{font-size:18px;}
.seosight-posts-block .seo-el-full-img .post-item{position:relative;background-position:center;background-repeat:no-repeat;background-size:cover;display:flex;align-items:flex-start;justify-content:flex-end;flex-direction:column;}
.seosight-posts-block .seo-el-full-img .post-item:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0, 0, 0, .2);border-radius:10px;z-index:1;}
.seosight-posts-block .post-item{border-radius:10px;overflow:hidden;background:#fff;margin-bottom:20px;box-shadow:0px 0px 40px 4px rgb(34 60 80 / 3%);}
.seosight-posts-block .seo-el-small-img .post-item__content{padding:40px;background:#fff;}
.seosight-posts-block .seo-el-full-img .post-item__content{position:relative;padding:40px;z-index:2;}
.seosight-posts-block .post-item__content .post-item__cat{margin-bottom:25px;}
.seosight-posts-block .post-item__content .post-item__cat,
.seosight-posts-block .post-item__content .post-item__cat a{font-size:16px;color:#949fac;}
.seosight-posts-block .seo-el-full-img .post-item__content .post-item__cat,
.seosight-posts-block .seo-el-full-img .post-item__content .post-item__cat a{color:#fff;}
.seosight-posts-block .post-item__content .post-item__title{font-size:18px;margin-bottom:15px;}
.seosight-posts-block .seo-el-full-img .post-item__content .post-item__title{color:#fff;font-size:30px;}
.seosight-posts-block .post-item__content .post-item__date{display:flex;align-items:center;justify-content:flex-start;}
.seosight-posts-block .post-item__content .post-item__date img{width:15px;height:15px;margin-right:10px;}
.seosight-posts-block .post-item__content .post-item__date time{font-size:16px;}
.seosight-posts-block .seo-el-full-img .post-item__content .post-item__date time{color:#fff;}
.seosight-posts-block .read-more-b{margin-top:20px;}
.seosight-posts-block .read-more-b a{display:flex;align-items:center;justify-content:center;}
.seosight-posts-block .read-more-b p{text-transform:uppercase;margin:0 10px 0 0;}
.seosight-posts-block .read-more-b .read-more-decor{width:30px;height:30px;border-radius:50%;display:flex;align-items:center;justify-content:center;background:var(--primary-accent-color);}
.seosight-posts-block .read-more-b .read-more-decor svg{width:25px;height:25px;fill:#fff;}
.seosight-posts-block .swiper-container .swiper-slide{height:auto;opacity:.5;}
.seosight-posts-block .swiper-container .swiper-slide.swiper-slide-active,
.seosight-posts-block .swiper-container .swiper-slide.swiper-slide-next{opacity:1;}
.seosight-posts-block .swiper-container .post-item,
.seosight-posts-block-grid2 .seo-el-full-img .post-item{justify-content:flex-start;height:100%;}
.seosight-posts-block .swiper-container .post-item__content .post-item__cat,
.seosight-posts-block-grid2 .post-item__content .post-item__cat{margin-bottom:150px;}
.seosight-posts-block .swiper-container .seo-el-full-img .post-item__content .post-item__cat a,
.seosight-posts-block-grid2 .seo-el-full-img .post-item__content .post-item__cat a{display:inline-block;padding:5px 15px;border-radius:20px;font-size:16px;color:#fff;margin-right:10px;background:var(--secondary-accent-color);}
.seosight-posts-block-grid2 .seo-el-full-img .post-item__content .post-item__cat a{background:var(--primary-accent-color);}
.seosight-posts-block .swiper-container.pagination-bottom .swiper-pagination{-webkit-transform:translate(0);transform:translate(0);text-align:left;}
.seosight-posts-block .swiper-pagination .swiper-pagination-bullet,
.seosight-posts-block .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{width:20px;height:4px;border-radius:2px;border:none;opacity:1;background:#eae9e9;}
.seosight-posts-block .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--primary-accent-color);}
.seosight-posts-block-carousel{position:relative;}
.seosight-posts-block-carousel .read-more-b{position:absolute;top:-100px;right:0;}
@media (max-width: 1200px) {
.seosight-posts-block .seo-el-small-img .post-item__content,
.seosight-posts-block .seo-el-full-img .post-item__content{padding:20px;}
}
@media (max-width: 799px) {
.seosight-posts-block .seo-el-small-img{width:50%;float:left;}
}
@media (max-width: 580px) {
.seosight-posts-block .seo-el-small-img {
width: 100%;
float: none;
}
}